<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Css/Index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.css' %}">
    <title>Online-Test-Website</title>
</head>

<body>
    <div>
        <div class="row" id="header">
            <div class="col-md-2 offset-md-8" align="Right"><a href="tel:+91 0123567890"><i
                        class="fas fa-phone-square"></i> +91 0123567890</a></div>
            <div class="col-md-2" align="Right"><a href="mailto:support@online.com"><i class="fas fa-envelope"></i>
                    support@online.com</a></div>
        </div>
        <div class="row" id="main-2">
            <div class="col-md-6 text-center">
                <h1> <a href="http://">Testing-System</a></h1>
            </div>
            <div class="col-md-6 ">
                <div class="row mt-3">
                    <div class="col-md-2 text-center"><a href="http://">Home</a></div>
                    <div class="col-md-2 text-center"><a href="http://">Services</a></div>
                    <div class="col-md-2 text-center"><a href="http://localhost:8000/client_list/">Client-List</a></div>
                    <div class="col-md-2 text-center"><a href="http://">Contact us</a></div>
                    <div class="col-md-2 text-center"><a href="http://">Sign up</a></div>
                    <div class="col-md-2 text-center"><a href="http://">Sign in</a></div>
                </div>
            </div>
        </div>
        <div class="row" id="image1">
            <div class="col-md-12 text-center text-white">
                <h1>
                    Here is Two Button one is sign up and another is sign in
                </h1>
            </div>
            <div class="col text-center" id="button">
                <button type="button" class="btn btn-primary"> <a href="http://localhost:8000/Sign-up/"> Sign up</a></button>
                <button type="button" class="btn btn-primary"> <a href="http://localhost:8000/login/">Sign in</a></button>
            </div>
        </div>

    </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
    </div>
    </div>
</body>